<div class="mx-auto">
  <!-- Create Service Type Modal -->
  <app-create-service-type
    *ngIf="showCreateModal"
    (serviceTypeCreated)="onServiceTypeCreated()"
  ></app-create-service-type>

  <!-- Update Service Type Modal -->
  <app-update-service-type
    *ngIf="showUpdateModal"
    [category]="selectedCategory!"
    (serviceTypeUpdated)="onServiceTypeUpdated()"
  ></app-update-service-type>

  <!-- Confirm Modal -->
  <app-admin-modal-confirm
    *ngIf="showConfirmModal"
    [title]="'Xác nhận cập nhật'"
    [content]="'Bạn có chắc chắn muốn cập nhật thông tin chuyên môn này?'"
    (confirm)="onServiceTypeUpdated()"
    (cancel)="showConfirmModal = false"
  ></app-admin-modal-confirm>

  <!-- Confirm Delete Modal -->
  <app-admin-modal-confirm-delete
    *ngIf="showConfirmDeleteModal"
    [title]="'Xác nhận xóa'"
    [content]="'Bạn có chắc chắn muốn xóa chuyên môn này?'"
    (confirm)="onConfirmDelete()"
    (cancel)="showConfirmDeleteModal = false"
  ></app-admin-modal-confirm-delete>

  <!-- Filter Section -->
  <div class="flex justify-between items-center mb-4">
    <div class="flex items-center">
      <button class="bg-sky-600 text-white py-2 px-4 rounded font-bold hover:bg-sky-700" (click)="addCategory()">
        Thêm chuyên môn mới &nbsp;<fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button class="bg-white text-sky-600 py-2 px-4 rounded border border-sky-600 font-bold hover:bg-sky-100 ml-2"
        (click)="refreshList()">
        Làm mới danh sách &nbsp;<fa-icon [icon]="faRotate"></fa-icon>
      </button>
      <app-page-size-selector
        class="ml-4"
        [pageSize]="pageSize"
        [options]="pageSizeOptions"
        (pageSizeChange)="onPageSizeChange($event)">
      </app-page-size-selector>
    </div>

    <div class="flex items-center space-x-2">
      <div class="relative w-64">
        <input type="text" placeholder="Nhập từ khóa tìm kiếm" [(ngModel)]="keyword" (keyup.enter)="handleSearch()"
          class="border p-2 rounded w-full border-blue-300 text-gray-600 pr-10" />

        <!-- Tooltip icon -->
        <div class="absolute right-2 top-1/2 -translate-y-1/2 group">
          <fa-icon [icon]="faCircleQuestion" class="text-gray-400 cursor-pointer"></fa-icon>

          <!-- Tooltip content -->
          <div
            class="absolute left-[-230px] mt-2 w-63 p-3 bg-white border border-gray-300 rounded shadow-lg text-sm text-sky-700 z-50 opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity"
            style="top: 100%; white-space: normal;">
            <p class="font-semibold text-sky-800 mb-1">Có thể tìm kiếm theo:</p>
            <ul class="list-disc list-inside text-justify space-y-1">
              <li>Tên chuyên môn</li>
            </ul>
          </div>
        </div>
      </div>
      <button type="button" (click)="handleSearch()" class="bg-sky-600 text-white py-2 px-4 rounded hover:bg-sky-700">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
      </button>
    </div>
  </div>

  <!-- Data Table -->
  <div class="overflow-x-auto">
    <div class="">
      <table class="w-full border-collapse border border-gray-200 shadow-lg rounded-md">
        <thead>
          <tr class="bg-sky-600 text-white">
            <th class="border p-2 text-center">STT</th>
            <th class="border p-2 text-left  whitespace-nowrap">Tên chuyên môn</th>
            <!-- <th class="border p-2 text-left">Mô tả</th> -->
            <th class="border p-2 text-center whitespace-nowrap">Số dịch vụ</th>
            <th class="border p-2 text-center whitespace-nowrap">Số bác sĩ khám</th>
            <th class="border p-2 text-center whitespace-nowrap">Số lượt khám</th>
            <th class="border p-2 text-left"></th>
          </tr>
        </thead>
        <tbody class="border border-gray-400">
          <tr *ngIf="loading">
            <td colspan="7" class="text-center p-4 border-gray-400">
              <div class="flex justify-center items-center">
                <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-sky-600"></div>
                <span class="ml-2">Đang tải dữ liệu...</span>
              </div>
            </td>
          </tr>
          <tr *ngIf="!loading && categories.length === 0">
            <td colspan="7" class="text-center p-4 border-gray-400">Không có dữ liệu</td>
          </tr>
          <tr *ngFor="let category of categories; let i = index">
            <td class="border border-gray-400 p-2 text-center">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td class="border border-gray-400 p-2 text-left font-semibold text-sky-900">{{ category.categoryName }}</td>
            <!-- <td class="border border-gray-400 p-2 text-justify">{{ category.description }}</td> -->
            <td class="border border-gray-400 p-2 text-center font-semibold text-emerald-800">{{ category.quantity }}</td>
            <td class="border border-gray-400 p-2 text-center font-semibold text-purple-800">999</td>
            <td class="border border-gray-400 p-2 text-center font-semibold text-purple-800">999</td>
            <td class="border border-gray-400 p-2 text-center justify-center whitespace-nowrap">
              <div class="text-centergap-2">
                <button 
                  class="bg-white text-sky-600 px-3 py-1 rounded border border-sky-600 hover:bg-sky-700 hover:text-white font-semibold"
                  (click)="updateCategory(category)"
                >
                  Cập nhật &nbsp;<fa-icon [icon]="faPenToSquare"></fa-icon>
                </button>
                <button 
                  class="bg-white text-red-600 px-3 py-1 ml-4 rounded border border-red-600 hover:bg-red-700 hover:text-white font-semibold"
                  (click)="deleteCategory(category)"
                >
                  Xóa &nbsp;<fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <app-pagination [totalElements]="totalElements" [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"></app-pagination>
</div> 