<div class="fixed inset-0 flex items-center justify-center bg-black/75 z-50">
    <div class="bg-white rounded-lg shadow-lg w-4/5 p-6">
      <!-- Icon thành công -->
      <div class="flex justify-center mb-4">
        <div class="w-16 h-16 bg-sky-100 rounded-full flex items-center justify-center">
          <svg class="w-8 h-8 text-sky-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2l4-4m5 2a9 9 0 1 1-18 0a9 9 0 0 1 18 0z" />
          </svg>
        </div>
      </div>
      <div class="text-center pb-2">
        <h1 class="text-1xl font-bold relative"
            style="background: linear-gradient(to right, #0078B7, #00A3E0);
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;">
          {{ title }}
        </h1>
        <div class="mt-2 w-12 mx-auto h-1 bg-gradient-to-r from-cyan-600 to-blue-800 rounded-full"></div>
      </div>
      <p class="text-sm text-gray-700 mt-2 text-justify">{{ content }}</p>
      <div class="flex justify-end mt-4">
        <button (click)="close.emit()" class="px-4 py-2 bg-gradient-to-r from-cyan-600 to-sky-700 text-white font-semibold rounded-lg w-full">
          Đóng
        </button>
      </div>
    </div>
  </div>
  