<div class="fixed inset-0 flex items-center justify-center bg-black/75 z-50">
    <div class="bg-white rounded-lg shadow-lg w-4/5 md:w-1/2 p-6">
      <div class="text-center pb-2">
        <h1 class="text-xl font-bold"
            style="background: linear-gradient(to right, #0078B7, #00A3E0);
                   -webkit-background-clip: text;
                   -webkit-text-fill-color: transparent;">
          {{ title }}
        </h1>
        <div class="mt-2 w-12 mx-auto h-1 bg-gradient-to-r from-cyan-600 to-blue-800 rounded-full"></div>
      </div>
      <p class="text-sm text-gray-700 mt-2 text-justify">{{ content }}</p>
      <div class="flex justify-end mt-6 gap-4">
        <button (click)="cancel.emit()" class="flex-[4] px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold rounded-lg">
          Hủy
        </button>
        <button (click)="confirm.emit()" class="flex-[6] px-4 py-2 bg-gradient-to-r from-cyan-600 to-sky-700 text-white font-semibold rounded-lg">
          Đồng ý
        </button>
      </div>
    </div>
  </div>
  