<div class="border border-blue-600 rounded-lg shadow-md relative p-2 mt-8">
    <!-- Tiêu đề -->
    <div class="absolute -top-4 left-4 bg-white px-2 text-blue-900 font-bold text-xl">
        <fa-icon [icon]="faUserNurse"></fa-icon>&nbsp; THÔNG TIN BÁC SĨ
    </div>

    <!-- Nội dung -->
    <div class="flex flex-row gap-6 pt-4 pb-4 items-start pr-2" *ngIf="doctor">
        <!-- Ảnh đại diện -->
        <div class="flex-shrink-0 flex justify-center w-1/5 relative group">
            <img [src]="getDoctorImage(doctor)" alt="Avatar"
                class="w-48 h-60 rounded-md object-cover transition duration-300 group-hover:brightness-75" />
            <button title="Thay đổi ảnh đại diện"
                class="font-semibold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden group-hover:block bg-sky-500 text-white px-4 py-2 rounded-md flex items-center space-x-2 hover:bg-sky-600 transition duration-300">
                <span>Thay đổi</span>
            </button>
        </div>

        <!-- Thông tin -->
        <div class="w-4/5">
            <div class="grid grid-cols-2 gap-x-8 gap-y-2">
                <!-- Cột trái -->
                <div>
                    <div class="flex mb-2 items-center">
                        <span class="font-bold min-w-[120px]">Mã Bác sĩ:</span>
                        <input type="text" [(ngModel)]="doctor.id" disabled
                            class="ml-2 p-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full" />
                    </div>
                    <div class="flex mb-2 items-center">
                        <span class="font-bold min-w-[120px]">Tên hiển thị:</span>
                        <input type="text" [(ngModel)]="doctor.name"
                            class="ml-2 p-1 border border-sky-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full" />
                    </div>
                    <div class="flex mb-2 items-center">
                        <span class="font-bold min-w-[120px]">Trạng thái:</span>
                        <select [(ngModel)]="doctor.status"
                            class="ml-2 p-1 border border-sky-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
                            <option *ngFor="let status of doctorStatuses" [value]="status.status">
                                {{status.description}}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Cột phải -->
                <div>
                    <div class="flex mb-2 items-center">
                        <span class="font-bold min-w-[120px]">Zalo User ID:</span>
                        <input type="text" [(ngModel)]="doctor.zaloUid"
                            class="ml-2 p-1 border border-sky-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full" />
                    </div>
                    <div class="flex mb-2 items-center">
                        <span class="font-bold min-w-[120px]">Giới tính:</span>
                        <select [(ngModel)]="doctor.gender"
                            class="ml-2 p-1 border border-sky-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
                            <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                        </select>
                    </div>
                    <div class="flex mb-2 items-center">
                        <span class="font-bold min-w-[120px]">Số điện thoại:</span>
                        <input type="text" [(ngModel)]="doctor.phone"
                            class="ml-2 p-1 border border-sky-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full" />
                    </div>
                    <!-- <div class="flex mb-2 items-center">
                        <span class="font-bold min-w-[120px]">Chuyên môn:</span>
                        <span class="ml-2 flex flex-wrap gap-2">
                            <span *ngFor="let category of doctor.nameOfServiceCategory"
                                class="bg-blue-50 text-sky-600 px-2 py-1 font-medium shadow-md hover:shadow-lg transition">
                                {{category}}
                            </span>
                        </span>
                    </div> -->
                </div>
            </div>
            <div class="flex mb-2 items-start">
                <span class="font-bold min-w-[120px]">Mô tả:</span>
                <textarea [(ngModel)]="doctor.description"
                    class="ml-2 p-1 border border-sky-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"
                    rows="4"></textarea>
            </div>
        </div>
    </div>

    <!-- Nút Cập nhật và Xóa thông tin -->
    <div class="flex mb-2  pr-2" *ngIf="doctor">
        <!-- Bên trái: Nội dung aaa, căn trái -->
        <div class="w-1/2 flex items-center justify-start pl-4">
            <span class="font-bold">Chuyên môn:</span>
            <span class="ml-2 flex flex-wrap gap-2">
                <span *ngFor="let category of doctor.nameOfServiceCategory"
                    class="bg-blue-50 text-sky-600 px-2 py-1 font-medium shadow-md hover:shadow-lg transition">
                    {{category}}
                </span>
            </span>
        </div>
        <!-- Bên phải: Hai nút, căn phải -->
        <div class="w-1/2 flex items-center justify-end">
            <div class="flex gap-3">
                <button (click)="onUpdate()"
                    class="bg-sky-700 text-white font-semibold px-4 py-2 rounded-md hover:bg-sky-800 transition">
                    Cập nhật thông tin &nbsp;<fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button (click)="onDelete()"
                    class="bg-white text-orange-800 border border-orange-800 font-semibold px-4 py-2 rounded-md hover:bg-orange-100 transition">
                    Xóa thông tin &nbsp;<fa-icon [icon]="faX"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<app-admin-modal-confirm *ngIf="showConfirmModal" [title]="modalTitle" [content]="modalContent"
    (confirm)="onConfirmUpdate()" (cancel)="onCancelUpdate()">
</app-admin-modal-confirm>

<!-- Confirmation Modal Delete -->
<app-admin-modal-confirm-delete *ngIf="showConfirmModalDelete" [title]="modalTitleDelete" [content]="modalContentDelete"
    (confirm)="onConfirmDelete()" (cancel)="onCancelDelete()">
</app-admin-modal-confirm-delete>