<router-outlet #childOutlet="outlet"></router-outlet>

<div *ngIf="!childOutlet.isActivated">
  <!-- Nút Quay lại -->
  <div class="text-center pb-2 p-4">
    <button
      (click)="goBack()"
      class="w-full h-12 border-2 border-cyan-700 text-cyan-700 font-bold rounded-lg bg-white hover:bg-cyan-50 transition duration-300"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon> Quay lại
    </button>
  </div>

  <app-select-date
    [doctorServiceId]="doctorServiceId"
    [availableDays]="availableDays"
    [specificHolidays]="specificHolidays"
    [doctorId]="doctorId"
    (dateTimeSelection)="handleDateTimeSelection($event.date, $event.doctorScheduleId)"
  ></app-select-date>
</div>