<div class="sticky top-0 z-30 w-full">
    <!-- Header -->
    <div class="bg-sky-600 text-white p-2 px-3 py-3 w-full rounded text-left font-bold shadow-md">
        <!-- <h1>{{menuItems[0]?.label}}</h1> -->
        <h1>QUẢN LÝ THÔNG TIN</h1>
    </div>

    <!-- Tab Menu -->
    <div class="bg-slate-100 flex justify-start space-x-4 w-full rounded text-gray-700 shadow-md">
        <a *ngFor="let item of menuItems"
            [href]="getMenuHref(item)"
            [class]="'py-2 px-4 font-bold rounded no-underline block ' + (selectedSubMenuId === item.id ? 'text-sky-600 border border-sky-600 hover:bg-blue-100' : 'hover:bg-sky-700 hover:text-white')"
            (click)="onMenuSelect(item, $event)">
            <fa-icon [icon]="item.icon"></fa-icon> &nbsp;&nbsp;{{item.label}}
        </a>
    </div>
</div>