<router-outlet #childOutlet="outlet"></router-outlet>

<div *ngIf="!childOutlet.isActivated">
  <div class="">
    <!-- Create Doctor Modal -->
    <app-create-doctor *ngIf="showCreateModal" (doctorCreated)="onDoctorCreated()"></app-create-doctor>

    <!-- Filter Section -->
    <div class="flex justify-between items-center mb-4">
      <div class="flex items-center">
        <button class="bg-sky-700 text-white py-2 px-4 rounded font-bold hover:bg-sky-800" (click)="addDoctor()">
          Thêm bác sĩ mới &nbsp;<fa-icon [icon]="faPlus"></fa-icon>
        </button>
        <button class="bg-white text-sky-700 py-2 px-4 rounded border border-sky-700 font-bold hover:bg-sky-100 ml-2"
          (click)="refreshList()" title="Làm mới danh sách">
          <fa-icon [icon]="faRotate"></fa-icon>
        </button>
        <app-page-size-selector class="ml-4" [pageSize]="pageSize" [options]="pageSizeOptions"
          (pageSizeChange)="onPageSizeChange($event)">
        </app-page-size-selector>
      </div>

      <div class="flex items-center space-x-2">
        <select class="border p-2 rounded border-blue-300 text-sky-900 font-semibold pr-5 pl-5"
          [(ngModel)]="selectedCategory" (change)="handleCategoryChange()">
          <option value="">Tất cả chuyên môn</option>
          <option *ngFor="let category of categories" [value]="category.id">{{category.categoryName}}</option>
        </select>
        <select class="border p-2 rounded border-blue-300 text-sky-900 font-semibold pr-5 pl-5"
          [(ngModel)]="selectedStatus" (change)="handleStatusChange()">
          <option value="">Tất cả trạng thái</option>
          <option *ngFor="let status of statuses" [value]="status.status">{{status.description}}</option>
        </select>
        <div class="relative w-64">
          <input type="text" placeholder="Nhập từ khóa tìm kiếm" [(ngModel)]="keyword" (keyup.enter)="handleSearch()"
            class="border p-2 rounded w-full border-blue-300 text-gray-600 pr-10" />

          <!-- Group bao icon và tooltip -->
          <div class="absolute right-2 top-1/2 -translate-y-1/2 group">
            <fa-icon [icon]="faCircleQuestion" class="text-gray-400 cursor-pointer"></fa-icon>

            <!-- Tooltip -->
            <div
              class="absolute left-[-230px] mt-2 w-63 p-3 bg-white border border-gray-300 rounded shadow-lg text-sm text-sky-700 z-50 opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity"
              style="top: 100%; white-space: normal;">
              <p class="font-semibold text-sky-800 mb-1">Có thể tìm kiếm theo:</p>
              <ul class="list-disc list-inside text-justify space-y-1">
                <li>Mã bác sĩ</li>
                <li>Tên bác sĩ</li>
                <li>Số điện thoại</li>
                <li>Giới tính</li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" (click)="handleSearch()" class="bg-sky-700 text-white py-2 px-4 rounded hover:bg-sky-800">
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Data Table -->
    <div class="overflow-x-auto">
      <table class="w-full border-collapse border border-gray-200 shadow-lg rounded-md">
        <thead>
          <tr class="bg-sky-600 text-white">
            <th class="border p-2 text-center whitespace-nowrap">STT</th>
            <th class="border p-2 text-left whitespace-nowrap">Mã bác sĩ</th>
            <th class="border p-2 text-left whitespace-nowrap">Họ tên</th>
            <th class="border p-2 text-left whitespace-nowrap">Giới tính</th>
            <th class="border p-2 text-left whitespace-nowrap">Số điện thoại</th>
            <th class="border p-2 text-left whitespace-nowrap">Trạng thái</th>
            <th class="border p-2 text-left whitespace-nowrap">Chuyên môn</th>
            <th class="border p-2 text-center whitespace-nowrap">Đã khám</th>
            <th class="border p-2 text-left"></th>
          </tr>
        </thead>
        <tbody class="border border-gray-400">
          <tr *ngIf="loading">
            <td colspan="8" class="text-center p-4 border-gray-400">
              <div class="flex justify-center items-center">
                <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-sky-600"></div>
                <span class="ml-2">Đang tải dữ liệu...</span>
              </div>
            </td>
          </tr>
          <tr *ngIf="!loading && doctors.length === 0">
            <td colspan="8" class="text-center p-4 border-gray-400">Không có dữ liệu</td>
          </tr>
          <tr *ngFor="let doctor of doctors; let i = index" class="border hover:bg-gray-100 transition duration-200 ease-in-out align-top ">
            <td class="border border-gray-400 p-2 text-center">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td class="border border-gray-400 p-2 text-left whitespace-nowrap cursor-copy"
                (click)="copyToClipboard(doctor.id)"
                title="Sao chép"
            >
                {{ doctor.id }}
            </td>
            <td class="border border-gray-400 p-2 text-left font-semibold text-sky-900 whitespace-nowrap">
              <div class="flex items-center gap-2">
                <img [src]="getDoctorImage(doctor)" class="h-12 rounded-md object-cover" />
                <span>{{ doctor.name }}</span>
              </div>
            </td>
            <td class="border border-gray-400 p-2 text-left whitespace-nowrap">{{ doctor.gender }}</td>
            <td class="border border-gray-400 p-2 text-left whitespace-nowrap">{{ doctor.phone }}</td>
            <td class="border border-gray-400 p-2 text-left font-semibold whitespace-nowrap" [ngClass]="{
              'text-green-700': removeVietnameseTones(doctor.statusName) === 'Dang lam viec',
              'text-red-700': removeVietnameseTones(doctor.statusName) === 'Ngung cong tac',
              'text-orange-700': removeVietnameseTones(doctor.statusName) === 'Ngung lam viec'
            }">
              {{ doctor.statusName }}
            </td>
            <td class="border border-gray-400 p-2 text-left">
              <div *ngIf="doctor.nameOfServiceCategory.length > 0" class="flex flex-wrap space-x-2 justify-start">
                <span *ngFor="let tag of doctor.nameOfServiceCategory"
                  class="bg-blue-50 text-sky-800 px-2 py-1 rounded-sm font-medium mb-1"
                  style="margin-left: 3px; white-space: nowrap">
                  {{tag}}
                </span>
              </div>
            </td>
            <td class="border border-gray-400 p-2 text-center whitespace-nowrap font-semibold text-purple-800">{{doctor.numberOfExaminations}}</td>
            <td class="border border-gray-400 p-2 text-center justify-center whitespace-nowrap">
              <button (click)="goToEditDoctor(doctor.id)"
                class="bg-white text-sky-700 px-3 py-1 rounded border border-sky-700 hover:bg-sky-800 hover:text-white font-semibold">
                Thao tác &nbsp;<fa-icon [icon]="faPenToSquare"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-4">
      <app-pagination [totalElements]="totalElements" [currentPage]="currentPage" [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"></app-pagination>
    </div>
  </div>
</div>

<!-- Notification -->
<div *ngIf="notification" class="fixed bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded shadow-lg">
    {{notification}}
</div>