<div class="border border-blue-600 rounded-lg shadow-md relative mt-10">
    <!-- Tiêu đề -->
    <div class="absolute -top-4 left-4 bg-white px-2 text-blue-900 font-bold text-xl">
        LỊCH SỬ KHÁM BỆNH
    </div>
    
    <div class="container mx-auto p-4 mt-4">
        <!-- Filter Section -->
        <div class="flex justify-between items-center mb-4">
          <!-- Left side filters -->
          <div class="flex items-center space-x-2">
            <span class="font-medium text-gray-900">Từ ngày</span>
            <input type="date" class="border p-2 rounded border-blue-300 text-gray-900" />
            <span class="font-medium text-gray-900">đến</span>
            <input type="date" class="border p-2 rounded border-blue-300 text-gray-900" />
            <button class="bg-white text-sky-600 py-2 px-4 rounded border border-sky-600 font-bold hover:bg-sky-100">
              Tải lại
            </button>
          </div>
          
      
          <!-- Right side filters -->
          <div class="flex items-center space-x-2">
            <select class="border p-2 rounded border-blue-300 text-gray-600">
              <option value="">Tất cả trạng thái</option>
              <option value="done">Đã khám</option>
              <option value="pending">Chưa khám</option>
              <option value="cancel">Đã hủy</option>
            </select>
            <input type="text" placeholder="Nhập từ khóa..."
              class="border p-2 rounded w-64 border-blue-300 text-gray-600" />
            <button type="button" class="bg-sky-600 text-white py-2 px-4 rounded hover:bg-sky-700">
              Tìm
            </button>
          </div>
        </div>
      
        <!-- Data Table -->
        <div class="overflow-x-auto">
          <table class="w-full border-collapse border border-gray-200 shadow-lg rounded-md">
            <thead>
              <tr class="bg-sky-600 text-white">
                <th class="border p-2 text-center">STT</th>
                <th class="border p-2 text-left whitespace-nowrap">Mã lịch hẹn</th>
                <th class="border p-2 text-left whitespace-nowrap">Dịch vụ</th>
                <th class="border p-2 text-left whitespace-nowrap">Bệnh nhân</th>
                <th class="border p-2 text-left whitespace-nowrap">Ngày khám</th>
                <th class="border p-2 text-left whitespace-nowrap">Trạng thái</th>
                <th class="border p-2 text-center whitespace-nowrap"></th>
              </tr>
            </thead>
            <tbody class="border border-gray-400">
              <tr>
                <td class="border border-gray-400 p-2 text-center">1</td>
                <td class="border border-gray-400 p-2 text-left font-semibold">HS12345</td>
                <td class="border border-gray-400 p-2 text-left font-semibold text-sky-900">Khám tổng quát</td>
                <td class="border border-gray-400 p-2 text-left">Nguyễn Văn A</td>
                <td class="border border-gray-400 p-2 text-left">06/06/2025</td>
                <td class="border border-gray-400 p-2 text-left">Đã khám</td>
                <td class="border border-gray-400 p-2 text-center">
                  <button class="bg-white text-sky-600 px-3 py-1 rounded border border-sky-600 hover:bg-sky-700 hover:text-white font-semibold">
                    Chi tiết
                  </button>
                </td>
              </tr>
              <tr>
                <td class="border border-gray-400 p-2 text-center">2</td>
                <td class="border border-gray-400 p-2 text-left font-semibold">HS12345</td>
                <td class="border border-gray-400 p-2 text-left font-semibold text-sky-900">Khám tai mũi họng</td>
                <td class="border border-gray-400 p-2 text-left">Trần Thị B</td>
                <td class="border border-gray-400 p-2 text-left">05/06/2025</td>
                <td class="border border-gray-400 p-2 text-left">Chưa khám</td>
                <td class="border border-gray-400 p-2 text-center">
                  <button class="bg-white text-sky-600 px-3 py-1 rounded border border-sky-600 hover:bg-sky-700 hover:text-white font-semibold">
                    Chi tiết
                  </button>
                </td>
              </tr>
              <tr>
                <td class="border border-gray-400 p-2 text-center">3</td>
                <td class="border border-gray-400 p-2 text-left font-semibold">HS12345</td>
                <td class="border border-gray-400 p-2 text-left font-semibold text-sky-900">Khám da liễu</td>
                <td class="border border-gray-400 p-2 text-left">Lê Văn C</td>
                <td class="border border-gray-400 p-2 text-left">04/06/2025</td>
                <td class="border border-gray-400 p-2 text-left">Đã hủy</td>
                <td class="border border-gray-400 p-2 text-center">
                  <button class="bg-white text-sky-600 px-3 py-1 rounded border border-sky-600 hover:bg-sky-700 hover:text-white font-semibold">
                    Chi tiết
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
</div>

  