<!-- <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-70 z-50"> -->
<div class="fixed inset-0 flex items-center justify-center bg-black/75 z-50">
    <div class="bg-white rounded-lg shadow-lg w-10/12 p-6 max-h-[90vh] overflow-y-auto">
      <h1
        class="text-2xl font-bold relative text-center"
        style="
          background: linear-gradient(to right, #0078B7, #00A3E0);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        "
      >
        CHỌN KHUNG GIỜ
      </h1>
      <div class="mt-2 w-32 mx-auto h-1 bg-gradient-to-r from-cyan-600 to-blue-800 rounded-full mb-4"></div>
      <div *ngIf="loading" class="flex flex-col items-center justify-center py-8">
        <div class="animate-spin rounded-full h-10 w-10 border-b-2 border-sky-600"></div>
        <span class="mt-4 text-sky-700 font-medium text-lg">Đang tải khung giờ...</span>
      </div>
      <div *ngIf="!loading">
        <ng-container *ngIf="timeSlots.length > 0; else noTimeSlots">
          <div *ngFor="let sessionGroup of groupTimeSlots()">
            <h4 class="text-md font-bold text-gray-600 pb-2 mt-4">Buổi {{ sessionGroup.session }}:</h4>
            <div class="grid grid-cols-2 gap-2">
              <button
                *ngFor="let slot of sessionGroup.slots"
                class="p-2 text-center rounded-lg border bg-white text-cyan-700 border-sky-700 hover:bg-sky-100"
                (click)="handleTimeSlotClick(slot)"
              >
                {{ slot.name }}
              </button>
            </div>
          </div>
          <p class="mt-4 text-base text-gray-500">
            Tất cả theo múi giờ Việt Nam <b>GMT+7</b>
          </p>
        </ng-container>
        <ng-template #noTimeSlots>
          <div class="text-center text-gray-500">Không có khung giờ khả dụng.</div>
        </ng-template>
      </div>
      <div class="flex justify-end mt-4">
        <button
          (click)="closeModal()"
          class="px-4 py-2 bg-gradient-to-r from-cyan-600 to-sky-700 text-white font-semibold rounded-lg w-full"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>