<div class="pt-3 flex justify-between items-center">
  <div class="flex justify-start">
    <button class="bg-white text-sky-700 py-2 px-4 rounded border border-sky-700 font-bold hover:bg-sky-100"
      title="Làm mới danh sách" (click)="refreshList()">
      Tải lại dữ liệu &nbsp; <fa-icon [icon]="faRotate"></fa-icon>
    </button>
    <app-page-size-selector class="ml-4" [pageSize]="pageSize" [options]="pageSizeOptions"
      (pageSizeChange)="onPageSizeChange($event)">
    </app-page-size-selector>
  </div>
  <div class="flex items-center space-x-2">
    <select class="border p-2 rounded border-blue-300 text-sky-800 font-semibold" [(ngModel)]="selectedStatus"
      (change)="handleSearch()">
      <option value="">Tất cả trạng thái</option>
      <option *ngFor="let status of statuses" [value]="status">
        {{status}}
      </option>
    </select>
    <div class="relative w-64">
      <input type="text" placeholder="Nhập từ khóa tìm kiếm" [(ngModel)]="keyword" (keyup.enter)="handleSearch()"
        class="border p-2 rounded w-full border-blue-300 text-gray-600 pr-10" />

      <!-- Group bao icon và tooltip -->
      <div class="absolute right-2 top-1/2 -translate-y-1/2 group">
        <fa-icon [icon]="faCircleQuestion" class="text-gray-400 cursor-pointer"></fa-icon>

        <!-- Tooltip -->
        <div
          class="absolute left-[-230px] mt-2 w-63 p-3 bg-white border border-gray-300 rounded shadow-lg text-sm text-sky-700 z-50 opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity"
          style="top: 100%; white-space: normal;">
          <p class="font-semibold text-sky-800 mb-1">Có thể tìm kiếm theo:</p>
          <ul class="list-disc list-inside text-justify space-y-1">
            <li>Mã lịch hẹn</li>
            <li>Mã bệnh nhân</li>
            <li>Tên bệnh nhân</li>
            <li>Tên bác sĩ</li>
            <li>Tên dịch vụ</li>
          </ul>
        </div>
      </div>
    </div>

    <button type="button" class="bg-sky-700 text-white py-2 px-4 rounded hover:bg-sky-800" (click)="handleSearch()">
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </button>
  </div>
</div>
<div class="md:col-span-2 text-justify mt-2">
  <div class="overflow-x-auto">
    <table class="w-full border-collapse border border-gray-200 shadow-lg rounded-md">
      <thead>
        <tr class="bg-sky-600 text-white">
          <th class="border p-2 text-center whitespace-nowrap">STT</th>
          <th class="border p-2 text-left whitespace-nowrap">Mã lịch hẹn</th>
          <th class="border p-2 text-left whitespace-nowrap">Bệnh nhân</th>
          <th class="border p-2 text-left whitespace-nowrap">Ngày khám</th>
          <th class="border p-2 text-left whitespace-nowrap">Dịch vụ</th>
          <th class="border p-2 text-left whitespace-nowrap">Bác sĩ</th>
          <th class="border p-2 text-left whitespace-nowrap">Trạng thái</th>
          <th class="border p-2 text-center whitespace-nowrap"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="8" class="text-center p-4 border-gray-400">
            <div class="flex justify-center items-center">
              <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-sky-600"></div>
              <span class="ml-2">Đang tải dữ liệu...</span>
            </div>
          </td>
        </tr>
        <tr *ngIf="!loading && appointments.length === 0">
          <td colspan="8" class="text-center p-4 border-gray-400">Không có dữ liệu</td>
        </tr>
        <tr *ngFor="let appointment of appointments; let i = index">
          <td class="border border-gray-400 p-2 text-center">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td class="border border-gray-400 p-2 text-left whitespace-nowrap font-semibold text-gray-700">{{
            appointment.id }}</td>
          <td class="border border-gray-400 p-2 text-left whitespace-nowrap font-semibold text-sky-800">{{
            appointment.patientResponse.fullName }}</td>
          <td class="border border-gray-400 p-2 text-left whitespace-nowrap">{{
            formatDate(appointment.appointmentDate) }}</td>
          <td class="border border-gray-400 p-2 text-justify  font-semibold text-indigo-900">{{
            appointment.doctorServiceResponse.serviceResponse.serviceName }}</td>
          <td class="border border-gray-400 p-2 text-left whitespace-nowrap font-semibold text-cyan-900">{{
            appointment.doctorScheduleResponse.doctorResponse.name }}</td>
          <td class="border border-gray-400 p-2 text-left whitespace-nowrap w-32">
            <span [ngClass]="getStatusClass(appointment.status)" class="px-3 py-0 rounded-sm font-medium mb-1"
              style="margin-left: 8px; white-space: nowrap; height: 32px; line-height: 32px; display: inline-block; min-width: 120px; text-align: left;">
              {{ appointment.status }}
            </span>
          </td>
          <td class="border border-gray-400 p-2 text-center whitespace-nowrap w-32">
            <button class="bg-white text-sky-700 px-3 py-1 rounded border border-sky-700 hover:bg-sky-100 font-semibold"
              (click)="showAppointmentDetail(appointment.id)">
              Chi tiết <fa-icon [icon]="faCircleInfo"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [totalElements]="totalElements" [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>

<!-- Appointment Detail Modal -->
<app-appointment-detail *ngIf="showDetailModal" [appointmentId]="selectedAppointmentId" (close)="closeDetailModal()">
</app-appointment-detail>