<div class="fixed inset-0 flex items-center justify-center bg-black/75 z-50">
    <div *ngIf="patient" class="bg-white rounded-lg shadow-lg w-4/5 p-6 max-h-[90vh] overflow-y-auto">
      <!-- Tiêu đề -->
      <h3 class="text-xl font-bold text-sky-800 mb-4">{{ patient.fullName.toUpperCase() }}</h3>
  
      <!-- Thông tin bệnh nhân -->
      <div class="space-y-2">
        <div>
          <label class="block text-sm font-semibold text-sky-700">Mã hồ sơ</label>
          <input
            type="text"
            [value]="patient.id || ''"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          />
        </div>
        <div>
          <label class="block text-sm font-semibold text-sky-700">Giới tính</label>
          <input
            type="text"
            [value]="patient.gender || 'Chưa cập nhật'"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          />
        </div>
        <div>
          <label class="block text-sm font-semibold text-sky-700">Ngày sinh</label>
          <input
            type="text"
            [value]="patient.dateOfBirth | date: 'dd/MM/yyyy'"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          />
        </div>
        <div>
          <label class="block text-sm font-semibold text-sky-700">Số căn cước</label>
          <input
            type="text"
            [value]="patient.identityCard || ''"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          />
        </div>
        <div>
          <label class="block text-sm font-semibold text-sky-700">Số thẻ BHYT</label>
          <input
            type="text"
            [value]="patient.insuranceId || 'Chưa có'"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          />
        </div>
        <div>
          <label class="block text-sm font-semibold text-sky-700">Mối quan hệ</label>
          <input
            type="text"
            [value]="patient.relationship || 'Chưa cập nhật'"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          />
        </div>
        <div>
          <label class="block text-sm font-semibold text-sky-700">Số điện thoại</label>
          <input
            type="text"
            [value]="patient.phoneNumber || ''"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          />
        </div>
        
        
        <div>
          <label class="block text-sm font-semibold text-sky-700">Địa chỉ</label>
          <textarea
            [value]="patient.address || ''"
            rows="3"
            class="w-full p-1 border border-gray-300 rounded-md text-gray-700"
            readonly
          ></textarea>
        </div>
        
       
      </div>
  
      <!-- Nút đóng -->
      <div class="flex justify-end mt-4">
        <button
          (click)="onClose()"
          class="px-4 py-2 bg-gradient-to-r from-cyan-600 to-sky-700 text-white font-semibold rounded-lg w-full"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>